@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.sidebar {
    background-color: #0ea5e9;
    height: 100vh;
    color: white;
      
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 40px;
}

.logo-text h1 {
    font-size: 25px;
    margin-left: 4px; /* smaller margin than icon texts to account for bigger logo */
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
}

.icon-text p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}
.list-items-bottom {
    margin-top: 50px;
}

.sidebar img {
    filter: brightness(0) invert(1);
    
    }


.main {
    background-color: white;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 3.5fr;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.navbar, 
.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;
}

.form-input {
    width: 500px;
    background-color: lightgray;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    margin-left: 20px;
    margin-right: 200px;
}


.avatarNavbar,
.avatarWelcome {
    margin: 0px 20px;
}


.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 20px;

    justify-content: space-between;
}

.content {
    background-color: #d4d4d4;
    display: grid;
    grid-template-columns: 70% 30%;

}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 30px;
}

.btn {
    background-color: #0ea5e9;
    width: 70px;
    height: 35px;
    color: white;
    border: 1px solid #0ea5e9;
    border-radius: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-left: 5px solid yellow;
    border-radius: 10px;
    width: 80%;
    height: 150px;
    margin: 15px 0;
    margin-left: 20px;
    padding-left: 10px;

}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

h6 {
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #737373;
    margin: 10px 0;

}

h4 {
    margin-left: 25px;
    margin-top: 20px;
}

.ann-trend {
    display: grid;
    grid-template-rows: 50% 50%;
}

.ann-card, .trend-card {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 5px;
}

.ann-text {
    padding: 10px 15px;
}
.ann-text h6, 
.trend-text h6 {
    font-size: 13px;
}

.ann-text p,
.trend-text p {
    font-size: 11px;
    color: #737373;
 
}

.divider {
    border: 0.5px solid #737373;
    width: 80%;
    display: flex;
    margin-left: 20px;
}

.trend-image-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
    padding: 2px 10px;
}

/*
.trend-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/
.trend-text {
    margin-left: 20px;
}
/*
.top-nav {
    background-color: white;
    border: black;
    height: 20vh;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    background-color: lightgray;
    border: black;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-column: 2 / 3;
    
    

}

.your-projects {
    display: grid;
   
    
}

.trending {
    display: grid;

}




img {
    height: 35px;
    width: 35px;
    filter: brightness(0) invert(1);
    
}


.icon-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 40px;
    flex-direction: row;
}
/*

span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.dashboard {
    display: grid;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: white;
}

.branding {
    display: flex;
    
}

img {
    height: 25px;
    width: 25px;
    filter: brightness(0) invert(1);

}

.home {
    display: flex;
    
}

.icon-text {
    display: grid;
    justify-content: center;
    align-items: center;
}

*/